@charset "UTF-8";
@import "variables";
@import "fonts";
@import "reset";


/*___________Header____________*/


.header {
    position: relative;
    background-image: url('../img/promo/background.jpg');
    background-size: cover;
    background-position: center;
    color: $white;
    font-family: 'montserratregular', sans-serif;
    font-weight: 700;
    height: 700px;
    text-align: center;
       
        &__nav {
           display: flex;
           justify-content: center;
           /*padding: 38px;*/
        }

        &__nav-heading {
           font-size: 20px;
           
        }


        &__nav-link {
            padding: 8px 14px 8px;
            font-size: 14px;
            color: $white;
            border: 2px solid transparent;

            &:hover {
               border: 3px solid $white;
               border-radius: 18px;
            }

        }

        &__slogan {
            font-size: 52px;
            text-transform: uppercase;
        }

        &__small-slogan {
            font-family: 'robotolight', sans-serif;
            font-size: 24px;
            font-weight: 300;
        }
}

.button {
    outline: none;
    border-radius: 19px;
    border: 2px solid transparent;
    font-family: 'montserratregular', sans-serif;
    font-size: 14px;

    &_header {
        color: $white;
        background-color: $red;

        &:hover {
            background-color: $white;
            border: 2px solid $red;
            color: $red;
        }
    }

    &_partner {
        border: 2px solid $red;
        background-color: $white;
        color: $red;
        
        &:hover {
           background-color: $red;
           color: $white;
        }
    }
}

/*_____________CONTENT___________*/

.content {
    @include content;

    &_footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 48px;
        line-height: 24px;
    }
}

.section-heading {
    font-family: 'montserratregular', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: $blackHeading;
    text-align: center;

    &_partners {
        margin-bottom: 35px;
    }

    &_discover {
        margin-bottom: 30px;
    }
}


/*___________How it works/slider___________*/

.slider-box {
  display: flex;
  justify-content: space-between;
  /*margin-top: 40px;*/
}

.slider {
  position: relative;
    
    &__button {
        position: absolute;
        top: 140px;
    }

    &__list {
        /*padding: 0;*/
        list-style: none;
        font-family: Arial, sans-serif;
        color: #fff;
    }

    &__item {
        display: none;
        
        &:first-child {
            display: block;
        }

        &_first,
        &_second,
        &_third {
            width: 300px;
            height: 400px;
        }
        
        &_first {
            background-image: url('../img/howitworks/step1.png');
        }

        &_second {
            background-image: url('../img/howitworks/step2.png');
        }

        &_third {
            background-image: url('../img/howitworks/step3.png');
        }
    } 
    
    &__content {
        display: flex;
        flex-direction: column;
        padding: 223px 20px 20px;

        &_second {
            padding-top: 251px;
        }
    }

    &__content-button {
        width: 70px;
        display: inline-block;
        background-color: #ff4e50;
        padding: 5px;
        border-radius: 20px;
        font-family: 'montserratregular', sans-serif;
        text-align: center; 
    }

    &__heading {
        font-family: 'montserratregular', sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: $white;
        line-height: 30px;
        margin: 10px 10px 10px 0;
    }

    &__text {
        font-family: 'robotolight', sans-serif;
        font-size: 14px;
        line-height: 18px;
        color: $sliderText;
    }

}

#prev,
#next,
#prev2,
#next2,
#prev3,
#next3 {
  border: none;
  outline: none;
  background: transparent;
  width: 30px;
  height: 55px;
}

#prev,
#prev2,
#prev3 {
  background-image: url('../img/howitworks/arrow_previous.png');
  margin-left: 10px;
}

#next,
#next2,
#next3 {
  background-image: url('../img/howitworks/arrow_next.png');
  margin-left: 210px;
}

/*___________PARTNERS___________*/

.partner {
    width: 220px;
    text-align: center;

    &__photo {
        position: relative;
    }

    &__icon {
        position: absolute;
        border-radius: 50%;
        border: 5px solid $white;
        top: 81px;
        left: 137px;

        &_red {
            background-color: $red;
            padding: 8px 9px 7px;
        }

        &_green {
            background-color: $green;
            padding: 8px 9px 7px;
        }

        &_yellow {
            background-color: $yellow;
            padding: 8px 11px 7px;
        }

        &_blue {
            background-color: $blue;
            padding: 8px 9px 7px;
        }
    }

    &__label {
        font-family: 'montserratregular', sans-serif;
        font-size: 14px;
        font-weight: bold;
        color: $blackHeading;
        line-height: 50px;
    }

    &__quotation {
        font-family: 'robotolight', sans-serif;
        font-size: 14px;
    }
}

/*___________Discover ideas (Masonry)__________*/

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}

.grid-item {
    position: relative;
    width: 31%;
    height: 311px;
    margin: 5px;
    float: left;
}

.w-2 { 
    width: 63%;
}

.grid-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.grid {
    width: 100%;
    margin: 0 auto;
}

.title {
    width: 100%;
    position: absolute;
    top: 40%;
    font-family: 'montserratregular';
    font-size: 22px;
    font-weight: bold; 
    color: #fff;
    text-align: center;
}


/*___________Find your interest (AJAX)_________*/

.interest {
    font-family: 'robotolight', sans-serif;
    font-size: 18px;

    &__input{
        font-size: 14px;
    }
}

/*___________Footer____________*/

.footer {
    border-top: 3px solid #ff4e50;

    &_nav-head {
        font-family: 'montserratregular', sans-serif;
        font-weight: bold;
        font-size: 16px;
        color: #ff4e50;
    }
}

.footer-company {
    &_link {
        font-family: 'robotolight', sans-serif;
        font-size: 14px;
        color: #666;
        &:hover {
           text-decoration: underline;
        }
    }
}

.small-head {
    font-family: 'montserratregular', sans-serif;
    font-size: 14px;
    font-weight: bold; 
}

.footer-label {
    
}

.design-by {
    font-family: 'montserratregular', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    text-transform: uppercase;
}


/*___________MEDIA Queries__________*/

/*to 479px*/
@import "mobile";

/*from 480px to 668px*/
@import "mobileLandscape";

/*from 669px to 767px*/
@import "tabletPortrait";

/*from 768px to 960px*/
@import "tabletMedium";

/*from 961 to 1024*/
@import "tabletLandscape";

/*from 1025px*/
@import "desktop";

